--- 
layout: default
--- 

<h2 id="publications">Publications</h2>
<p>Below you can find a list of publications including supplementary links.</p>
<p><span class="downloadpdf"><a href="#publications"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;Full Version&nbsp;&nbsp;</span><span class="download"><a href="#publications"><i class="fa fa-book"></i></a>&nbsp;&nbsp;Publisher Version&nbsp;&nbsp;</span><span class="downloadpdf"><a href="#publications"><i class="fa fa-television"></i></a>&nbsp;&nbsp;Slides&nbsp;&nbsp;</span><span class="download"><a href="#publications"><i class="fa fa-globe"></i></a>&nbsp;&nbsp;Web&nbsp;&nbsp;<a href="#publications"><i class="fa fa-link"></i></a>&nbsp;&nbsp;Bibtex&nbsp;&nbsp;<a href="#publications"><i class="fa fa-code"></i></a>&nbsp;&nbsp;Additional Material</span></p>

{% assign psize = site.preprints | size %}
{% if psize > 0 %}
<table class="pubtable">
	
<thead>
  <tr><th colspan="3" >Preprints</th></tr>
</thead>

{% for post in site.preprints reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>
{% endif %}

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Conference Papers</th></tr>
</thead>

{% for post in site.proc reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Journal Papers</th></tr>
</thead>

{% for post in site.jour reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Articles</th></tr>
</thead>

{% for post in site.articles reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Talks (Invited &amp; Symposia w/o Proceedings)</th></tr>
</thead>

{% for post in site.talk reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Theses</th></tr>
</thead>

{% for post in site.theses reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Selected Project Deliverables</th></tr>
</thead>

{% for post in site.deli reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>
        

