--- 
layout: default
--- 

<h2 id="publications">Publications</h2>
<p>Below you can find a list of publications including supplementary links.</p>
<p><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Full Version&nbsp;&nbsp;&nbsp;<i class="fa fa-book"></i>&nbsp;&nbsp;Publisher Version&nbsp;&nbsp;&nbsp;<i class="fa fa-television"></i>&nbsp;&nbsp;Slides&nbsp;&nbsp;&nbsp;<i class="fa fa-globe"></i>&nbsp;&nbsp;Web&nbsp;&nbsp;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;Bibtex&nbsp;&nbsp;&nbsp;<i class="fa fa-code"></i>&nbsp;&nbsp;Additional Material</p>
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Preprints</th></tr>
</thead>

{% for post in site.preprints reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Conference Papers</th></tr>
</thead>

{% for post in site.proc reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Journal Papers</th></tr>
</thead>

{% for post in site.articles reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Talks</th></tr>
</thead>

{% for post in site.talk reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Theses</th></tr>
</thead>

{% for post in site.theses reversed %}

{% include pubentry.html %}

{% endfor %}

</table>

<table class="pubtable">

<thead>
  <tr><th colspan="3" >Selected Project Deliverables</th></tr>
</thead>

{% for post in site.deli reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>
        

