<h2>Short Bio</h2>
<p>I am a researcher at <a href="https://www.iaik.tugraz.at">IAIK</a>, <a href="http://www.tugraz.at">Graz University of Technology</a>. My main research interests are in the field of public key cryptography with a focus on privacy enhancing authentication primitives and their applications. Before joining IAIK in 2013, I completed both, my master studies (Dipl.-Ing., 2013) and my bachelor studies (BSc, 2011) in Software Development and Business Management at the Graz University of Technology with distinction. Currently, I am involved in various EU funded projects, focusing on privacy preserving identity management as well as secure and privacy preserving cloud computing. In addition to that, I teach courses on <a href="http://www.iaik.tugraz.at/content/teaching/master_courses/public_key_crypto/">modern public key cryptography</a> and <a href="http://www.iaik.tugraz.at/content/teaching/bachelor_courses/SystemnaheProgrammierung/">system-level programming</a>.</p>

<p>Below you can find further information about my past and ongoing professional activities. For a list of publications, please refer to the <a href="#publications">publications</a> section. Further information about my teaching activities can be found in the <a href="#teaching">teaching</a> section.</p>

<h2>Projects</h2>
<ul class="itemprefix">
  <li><a href="https://prismacloud.eu/">EU H2020 PRISMACLOUD</a> (2015-2018)</li>
  <li><a href="https://credential.eu/">EU H2020 CREDENTIAL</a> (2015-2018)</li>
  <li><a href="http://futureid.eu/">EU FP7 FutureID</a> (2012-2015)</li>
</ul>

<h2>Conference Refereeing</h2>
<ul>
  <li>2017 | Asiacrypt, SECPID, PQCrypto, Eurocrypt</li>
  <li>2016 | CT-RSA, Eurocrypt, Crypto, SCN, Asiacrypt, Indocrypt, ICISC</li>
  <li>2015 | Eurocrypt</li>
  <li>2014 | Asiacrypt, ISC</li>
</ul>

<h2>Journal Refereeing</h2>
<ul>
  <li>Springer | <a href="http://www.springer.com/computer/security+and+cryptology/journal/10207">IJIS</a></li>
  <li>IEEE | <a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=10206">TIFS</a></li>
  <li>Elsevier | <a href="https://www.journals.elsevier.com/information-processing-letters/">IPL</a></li>
</ul>


<h2>Professional Associations</h2>
<ul class="itemprefix">
  <li><a href="http://www.iacr.org">International Association for Cryptologic Research</a> (IACR)</li>
  <li><a href="http://spdp.di.unimi.it/~ifip113/">IFIP WG 11.3</a> working group on data and application security and privacy</li>
</ul>
