<footer>
  <div class="news">
    <h3>News</h3>
    <ul>
      <li><b>Jan. 2017</b> | Paper accepted at <a href="http://fc17.ifca.ai/">FC'17</a></li>
      <li><b>Jan. 2017</b> | Paper accepted at <a href="https://www.iacr.org/workshops/pkc2017/">PKC'17</a></li>
    </ul>
    <h3>Upcoming</h3>
    <ul>
      <li><b>Apr. 2017</b> | Attending <a href="http://fc17.ifca.ai/">FC'17</a></li>
    </ul>
  </div>
  <p class="remark">Hosted on <a href="https://github.com/derlerd/derlerd.github.io">GitHub Pages</a>.</p>
  <p class="remark">Theme inspired by <a href="https://tlepoint.github.io/">tlepoint</a> and <a href="https://github.com/orderedlist/minimal">orderedlist/minimal</a>.</p>
</footer>
