<footer>
<!--
  <div class="news">
    <h3>News</h3>
    <table class="newstable">
      <tr>
        <td class="date">Nov. 2018</td>
        <td>Paper at <a href="https://www.ndss-symposium.org/ndss2019/">NDSS'19</a></td>
      </tr>
      <tr>
        <td class="date">Aug. 2018</td>
        <td>Paper at <a href="https://ssl.informatics.uow.edu.au/provsec2018/">ProvSec'18</a></td>
      </tr>
      <tr>
        <td class="date">Jul. 2018</td>
        <td>Paper in <a href="http://www.springer.com/mathematics/journal/10623">Designs, Codes and Cryptography</a></td>
      </tr>
      <tr>
        <td class="date">Jul. 2018</td>
        <td>Joining <a href="https://dfinity.org">DFINITY</a> in September</td>
      </tr>
      <tr>
        <td class="date">Mar. 2018</td>
        <td>Paper at <a href="http://asiaccs2018.org">ASIACCS'18</a></td>
      </tr>
      <tr>
        <td class="date">Jan. 2018</td>
        <td>Paper at <a href="http://www.math.fau.edu/pqcrypto2018/">PQCrypto'18</a></td>
      </tr>
      <tr>
        <td class="date">Jan. 2018</td>
        <td>Paper at <a href="https://eurocrypt.iacr.org/2018/">EUROCRYPT'18</a></td>
      </tr>
      <tr>
        <td class="date">Jan. 2018</td>
        <td>Paper at <a href="http://www.springer.com/mathematics/journal/10623">DESI</a></td>
      </tr>
      <tr>
        <td class="date">Dec. 2017</td>
        <td>Paper accepted at <a href="https://pkc.iacr.org/2018/">PKC'18</a></td>
      </tr>
      <tr>
        <td class="date">Dec. 2017</td>
        <td>Talk accepted at <a href="https://rwc.iacr.org/index.html">RWC'18</a></td>
      </tr>
      <tr>
        <td class="date">Nov. 2017</td>
        <td>Paper accepted at <a href="https://www.ieee-security.org/TC/EuroSP2018/">EuroS&amp;P'18</a></td>
      </tr>
      <tr>
        <td class="date">Nov. 2017</td>
        <td>Joined PC of <a href="https://www2.nict.go.jp/security/apkc2018/">APKC'18</a></td>
      </tr>
     <tr>
        <td class="date">Aug. 2017</td>
        <td>Paper accepted at <a href="https://www.sigsac.org/ccs/CCS2017/">CCS'17</a></td>
      </tr>
     <tr>
        <td class="date">Apr. 2017</td>
        <td>Paper accepted at <a href="http://acisp.massey.ac.nz/">ACISP'17</a></td>
      </tr>
     <tr>
        <td class="date">Jan. 2017</td>
        <td>Paper accepted at <a href="http://fc17.ifca.ai/">FC'17</a></td>
      </tr>
     <tr>
        <td class="date">Jan. 2017</td>
        <td>Paper accepted at <a href="https://www.iacr.org/workshops/pkc2017/">PKC'17</a></td>
     </tr>
    </table>
    <h3>Recent/Upcoming</h3>
    <table class="newstable">
      <tr>
        <td class="date">Apr. 2018</td>
        <td>Attending <a href="https://eurocrypt.iacr.org/2018/">EUROCRYPT'18</a></td>
      </tr>
      <tr>
        <td class="date">Apr. 2018</td>
        <td>Attending <a href="http://www.math.fau.edu/pqcrypto2018/">PQCrypto'18</a></td>
      </tr>
      <tr>
        <td class="date">Jan. 2018</td>
        <td>Attending <a href="https://rwc.iacr.org/2018/index.html">RWC'18</a></td>
      </tr>
      <tr>
        <td class="date">Dec. 2017</td>
        <td>Attending <a href="https://asiacrypt.iacr.org/2017/">ASIACRYPT'17</a></td>
      </tr>
      <tr>
        <td class="date">Apr. 2017</td>
        <td>Attending <a href="http://fc17.ifca.ai/">FC'17</a> (<a href="publications/talks/hpra.pdf">Slides</a>)</td>
      </tr>
      <tr>
        <td class="date">Mar. 2017</td>
        <td>Visiting <a href="http://tiborjager.de/">Paderborn University</a>, (<a href="publications/talks/key-hom.pdf">Slides</a>)</td>
      </tr>
    </table>
  </div>
-->
  <p class="remark">Hosted on <a href="https://github.com/derlerd/derlerd.github.io">GitHub Pages</a>.</p>
  <p class="remark">Theme inspired by <a href="https://tlepoint.github.io/">tlepoint</a> and <a href="https://github.com/orderedlist/minimal">orderedlist</a>.</p>
</footer>
