<header>
  <img src="{{site.authorimg}}" alt="{{site.author}}" width="150" />
  <h1>{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <p class="affil"><a href="{{site.insturl}}">{{site.inst}}</a><!--, <a href="{{site.uniurl}}">{{site.uni}}</a>--></p>
  <ul class="extlinks">
    <li><a href="{{site.vcard}}"><i class="fa fa-envelope-square"></i></a></li>
    <li><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://keybase.io/{{site.keybase}}" target="_blank"><i class="fa fa-key"></i></a></li>
    <li><a href="https://dblp.uni-trier.de/pers/{{site.dblp}}" target="_blank"><i class="fa fa-folder-open"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
  </ul>
</header>
