<header>
  <img src="{{site.authorimg}}" alt="{{site.author}}"/>
  <h1>{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <p class="affil"><a href="{{site.insturl}}">{{site.inst}}</a>, <a href="{{site.uniurl}}">{{site.uni}}</a></p>
  <ul class="extlinks">
    <li><a href="{{site.vcard}}" target="_blank"><i class="fa fa-user" style="font-size:26px;"></i></a></li>
    <li><a href="{{site.office}}" target="_blank"><i class="fa fa-building-o" style="font-size:24px;"></i></a></li>
    <li><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter" style="font-size:26px;"></i></a></li>
    <li><a href="http://www.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin" style="font-size:26px;"></i></a></li>
    <li><a href="http://dblp.uni-trier.de/pers/{{site.dblp}}" target="_blank"><i class="fa fa-archive" style="font-size:24px;"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" target="_blank"><i class="fa fa-graduation-cap" style="font-size:25px;"></i></a></li>
  </ul>
</header>
