<div id="professionalactivities">
  <h2>Professional Activities</h2>
  <p>Below you can find information about my past and ongoing professional activities.</p>
  <h3>Program Committees</h3>
  <ul class="itemprefix">
    <li><a href="https://www.ifip-summerschool.org">IFIP Summer School 2018</a>, Aug 20-24, 2018, Vienna, Austria</li>	
    <li><a href="https://www2.nict.go.jp/security/apkc2018/">APKC 2018</a>, Jun 4-8, 2018, Incheon, Korea</li>
  </ul>

  <h3>Conference Refereeing</h3>
  <ul>
  	<li>2019 | FC, Crypto</li>
    <li>2018 | Asiacrypt, CCS, ACNS, PKC</li>
    <li>2017 | Asiacrypt, SECPID, PQCrypto, Eurocrypt</li>
    <li>2016 | CT-RSA, Eurocrypt, Crypto, SCN, Asiacrypt, Indocrypt, ICISC</li>
    <li>2015 | Eurocrypt</li>
    <li>2014 | Asiacrypt, ISC</li>
  </ul>

  <h3>Journal Refereeing</h3>
  <ul>
    <li>ACM | <a href="https://tops.acm.org">TOPS</a></li>
    <li>Springer | <a href="http://www.springer.com/computer/security+and+cryptology/journal/10207">IJIS</a></li>
    <li>IEEE | <a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=10206">TIFS</a>, <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6245516">TETC</a></li>
    <li>Elsevier | <a href="https://www.journals.elsevier.com/information-processing-letters/">IPL</a></li>
  </ul>


  <h3>Professional Associations</h3>
  <ul class="itemprefix">
    <li><a href="http://www.iacr.org">International Association for Cryptologic Research</a> (IACR)</li>
    <li><a href="http://spdp.di.unimi.it/~ifip113/">IFIP WG 11.3</a> working group on data and application security and privacy</li>
  </ul>
</div>