<h2 id="teaching">Teaching</h2>
<ul>
  <li><a href="http://www.iaik.tugraz.at/content/teaching/master_courses/seminar_project/" title="Seminars/Projects">Seminars/Projects</a></li>
  <li><a href="http://www.iaik.tugraz.at/content/teaching/master_courses/public_key_crypto/" title="Modern Public Key Cryptography">Modern Public Key Cryptography</a> (2015 ST, 2016 ST)</li>
  <li><a href="http://www.iaik.tugraz.at/content/teaching/bachelor_courses/SystemnaheProgrammierung/">System-Level Programming</a> (2014 WT, 2015 ST&amp;WT, 2016 ST&amp;WT)</li>
</ul>
