<div class="teaching">
  <h2 id="teaching">Teaching</h2>
  <p>Below you can find potential topics for student projects as well as the courses I am currently involved in.</p>
  <ul class="itemprefix">
    <li><a href="http://www.iaik.tugraz.at/content/teaching/master_courses/public_key_crypto/" title="Modern Public Key Cryptography">Modern Public Key Cryptography</a> (2015 ST, 2016 ST, 2017 ST)</li>
    <li><a href="http://www.iaik.tugraz.at/content/teaching/bachelor_courses/SystemnaheProgrammierung/">System-Level Programming</a> (2014 WT, 2015 ST&amp;WT, 2016 ST&amp;WT, 2017 ST)</li>
    <li>Supervision of <a href="https://www.iaik.tugraz.at/content/teaching/master_thesis/">master's theses</a>, <a href="http://www.iaik.tugraz.at/content/teaching/bachelor_thesis/">bachelor's theses</a>, and <a href="http://www.iaik.tugraz.at/content/teaching/master_courses/seminar_project/" title="Seminars/Projects">seminars/projects</a></li>
  </ul>
</div>
